.AllButDeck {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.AllButDeck .FormCardContainer {
  align-items: center;
  border-bottom: 2px solid;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 35px 30px;
  width: 100%;
}

@media screen and ( min-width : 750px ) {

  .AllButDeck .FormCardContainer {
    align-items: stretch;
    flex-flow: row nowrap;
    justify-content: center;
  }
}

.FormContainer {
  display: flex;
  flex-flow: column nowrap;
  max-width: 430px;
  padding: 35px 30px;
  width: 100%;
}

.FormContainer label {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 16px;
}

.FormContainer input:not( .image ), .FormContainer textarea, .FormContainer select {
  font-family: Lato , sans-serif;
  font-size: 14px;
  padding: 8px;
}

.FormContainer .name, .FormContainer .desc, .FormContainer .image, .FormContainer .rare {
  border: 1px solid black;
  margin-top: 8px;
}

.FormContainer .name, .FormContainer .desc, .FormContainer .rare {
  background-color: rgb(241, 146, 204);
  border-radius: 5px;
  width: auto;
}

.FormContainer .desc {
  resize: none;
}

.FormContainer .label-attr {
  background-color: rgb(59, 30, 84);
  border-radius: 5px;
  color: white;
  height: 30px;
  padding-left: 56px;
  position: relative;
}

.FormContainer .attr-icon {
  align-items: center;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  font-size: 27px;
  height: 40px;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 40px;
}

.FormContainer .attr {
  background-color: rgb(188, 145, 255);
  border-left: 1px solid white;
  border-radius: 0 5px 5px 0;
  color: white;
  height: 15px;
  padding-left: 16px;
  width: 100px;
}

.FormContainer .remaining-pts {
  font-size: 20px;
  margin-left: 52%;
}

.FormContainer .label-trunfo {
  flex-direction: row-reverse;
  justify-content: center;
  padding: 16px 64px;
  width: 100%;
}

.FormContainer .trunfo-icon {
  align-items: center;
  display: flex;
  font-size: 32px;
  height: 30px;
  justify-content: center;
  margin-left: 8px;
  width: 30px;
}

.save-button {
  background-color: rgb(59, 30, 84);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 16px;
  width: 100%;
}

.save-button:disabled {
  background-color: rgb(184, 67, 124);
}

.Card {
  align-items: center;
  background-color: rgb(56, 24, 83);
  border: 15px solid rgb(246, 205, 61);
  border-radius: 29px;
  display: flex;
  flex-flow: column nowrap;
  height: 600px;
  justify-content: flex-end;
  padding: 21px;
  position: relative;
  width: 337px;
}

.Card header {
  align-items: flex-end;
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  right: 0;
  text-align: right;
  top: 1px;
  width: 95%;
}

.Deck h2 {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
}

.Card .Card-logo {
  left: 1.2rem;
  position: absolute;
  top: 0.5rem;
  width: 115px;
  z-index: 2;
}

.Card header h2 {
  background-color: rgb(246, 205, 61);
  color: black;
  font-size: 16px;
  margin-bottom: 1px;
  margin-top: 3px;
  overflow-wrap: break-word;
  padding: 8px 16px 8px 128px;
  text-transform: uppercase;
  top: 16px;
  width: fit-content;
}

.Card header h3 {
  background-color: rgba(236, 203, 81, 0.664);
  margin: 0;
  padding: 0 16px;
  position: relative;
  width: 160px;
}

.Card .Card-img {
  height: 240px;
  margin-left: 14%;
  object-fit: contain;
  object-position: center;
  width: 240px;
  z-index: 4;
}

.Card .Card-desc-container {
  align-items: center;
  background-color: rgb(163, 134, 175);
  border-radius: 16px;
  color: white;
  display: flex;
  font-size: 80%;
  height: 72px;
  justify-content: center;
  margin: 13px 0;
  padding: 7px;
  width: fit-content;
}

.Card ul {
  list-style-type: none;
  padding-bottom: 40px;
  padding-inline-start: 10px;
  position: relative;
  width: 94%;
}

.Card ul li {
  background-color: rgb(246, 205, 61);
  border-radius: 5px;
  display: flex;
  padding: 5px 0;
  position: relative;
  transform: skew(-15deg);
  width: 100%;
}

.Card ul li:not( :first-child ) {
  margin-top: 13px;
}

.Card ul .Card-attr-icon {
  align-items: center;
  background-color: white;
  border: 1px solid rgb(59, 30, 84);
  border-radius: 5px;
  display: flex;
  font-size: 28px;
  height: 40px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.Card ul .Card-attr-text {
  color: white;
  padding-left: 48px;
  width: 52%;
}

.Card ul .Card-attr-value {
  color: rgb(59, 30, 84);
  font-weight: 600;
  padding: 0 8px;
}

.Card .TrunfoCard {
  color: rgb(246, 205, 61);
  font-size: 20px;
  font-weight: 600;
  margin-left: 30%;
}

.Deck {
  background-attachment: fixed;

  /* background-image: url('./components/background.jpg'); */
  background-image: url('./components/killerQueenBackground.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 6rem;
  width: 100%;
}

.Deck-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.Deck .Card {
  filter: drop-shadow(0 0 15px black);
  margin: 32px;
}

.Deck .cards-container {
  align-items: center;
  background-color: rgb(56, 24, 83);
  border: 15px solid rgb(246, 205, 61);
  border-radius: 29px;
  display: flex;
  flex-flow: column nowrap;
  height: 600px;
  justify-content: flex-end;
  margin: 10px;
  padding: 21px;
  position: relative;
  width: 337px;
}

.Deck .cards-container .Card-logo {
  left: 1.2rem;
  position: absolute;
  top: 0.5rem;
  width: 115px;
  z-index: 2;
}

.Deck .cards-container header {
  align-items: flex-end;
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  right: 0;
  text-align: right;
  top: 1px;
  width: 95%;
}

.Deck .cards-container header h2 {
  background-color: rgb(246, 205, 61);
  color: black;
  font-size: 16px;
  margin-bottom: 1px;
  margin-top: 3px;
  overflow-wrap: break-word;
  padding: 8px 16px 8px 128px;
  text-transform: uppercase;
  top: 16px;
  width: fit-content;
}

.Deck .cards-container header h3 {
  background-color: rgba(236, 203, 81, 0.664);
  margin: 0;
  padding: 0 16px;
  position: relative;
  width: 160px;
}

.Deck .cards-container .Card-img {
  height: 240px;
  margin-left: 15%;
  object-fit: contain;
  object-position: center;
  width: 240px;
  z-index: 4;
}

.Deck .cards-container .Card-desc-container {
  align-items: center;
  background-color: rgb(163, 134, 175);
  border-radius: 16px;
  color: white;
  display: flex;
  font-size: 80%;
  height: 72px;
  justify-content: center;
  margin: 13px 0;
  padding: 7px;
  width: fit-content;
}

.Deck .cards-container ul {
  list-style-type: none;
  padding-bottom: 10px;
  padding-inline-start: 0;
  position: relative;
  width: 94%;
}

.Deck .cards-container ul li {
  background-color: rgb(246, 205, 61);
  border-radius: 5px;
  display: flex;
  padding: 5px 0;
  position: relative;
  transform: skew(-15deg);
  width: 100%;
}

.Deck .cards-container ul li:not( :first-child ) {
  margin-top: 13px;
}

.Deck .cards-container ul .Card-attr-icon {
  align-items: center;
  background-color: white;
  border: 1px solid rgb(59, 30, 84);
  border-radius: 5px;
  display: flex;
  font-size: 28px;
  height: 40px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.Deck .cards-container ul .Card-attr-text {
  color: white;
  padding-left: 48px;
  width: 52%;
}

.Deck .cards-container ul .Card-attr-value {
  color: rgb(59, 30, 84);
  font-weight: 600;
  padding: 0 8px;
}

.Deck .cards-container .TrunfoCard {
  color: rgb(246, 205, 61);
  font-size: 20px;
  font-weight: 600;
}

.Deck .cards-container .SuperTrunfoIcon {
  margin-left: 20px;
}

.Deck .cards-container .delete-btn {
  background-color: rgb(113, 44, 215);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  width: 100%;
}
